<!-- <button class="chat-button" (click)="openChat()">
  <ng-template [ngTemplateOutlet]="chatIcon" />
</button> -->

@if ((gasSvc.gas$ | async); as gas) {
  <div class="network-gas">
    <div class="gas">
      @if (gas?.ProposeGasPrice === 'err' || gas?.ProposeGasPrice === '...') {
        {{ gas.ProposeGasPrice }} Gwei
      } @else {
        {{ (gas?.ProposeGasPrice || 0) | number : '1.0-0' }} Gwei
      }
    </div>
    <div class="network">
      {{ chain === 1 ? 'mainnet' : 'sepolia' }}
    </div>
  </div>
}

@if (blocks$ | async; as blocks) {
  <div
    class="blocks-wrapper"
    [class.active]="expanded()"
    [title]="(blocks[0] - blocks[1]) ? (blocks[0] - blocks[1]) + ' blocks behind' : 'synced'"
    (click)="expandCollapse()">

    <div class="indexer">
      <div class="block">
        <div class="label">Current</div>
        <div class="value">{{ blocks[0] || 'waiting..' }}</div>
      </div>

      <div
        class="block"
        [class]="(blocks[0] - blocks[1]) < 4 ? levels[(blocks[0] - blocks[1])] : blocks[1] ? 'bad' : ''">

        <div class="label">Indexer</div>
        <div class="value">{{ blocks[1] || 'waiting..' }}</div>
      </div>
    </div>

    <button class="expand-button">
      <ng-template [ngTemplateOutlet]="arrowIcon" />
    </button>
  </div>
}

@if ((logs$ | async); as logs) {
  @if (expanded()) {
    <div class="logger">
      <div class="title-bar">
        <div class="title">Indexer Logs</div>
      </div>
      <app-logger [logs]="logs" />
    </div>
  }
}

<ng-template #arrowIcon>
  <svg height="15" viewBox="0 0 25 15" width="25" xmlns="http://www.w3.org/2000/svg"><path d="m10 5v5h5v5h-5v-5h-5v-5zm-5-5v5h-5v-5zm15 5v5h-5v-5zm5-5v5h-5v-5z"/></svg>
</ng-template>

<ng-template #chatIcon>
  <svg height="9" viewBox="0 0 11 9" width="11" xmlns="http://www.w3.org/2000/svg"><path d="m1 7h1v1h-1z"/><path d="m2 6h1v1h-1z"/><path d="m1 5h1v1h-1z"/><path d="m0 4h1v1h-1z"/><path d="m0 3h1v1h-1z"/><path d="m0 2h1v1h-1z"/><path d="m1 1h1v1h-1z"/><path d="m2 0h1v1h-1z"/><path d="m10 5h-1v1h1z"/><path d="m9 6h-1v1h1z"/><path d="m8 7h-1v1h1z"/><path d="m7 7h-1v1h1z"/><path d="m11 4h-1v1h1z"/><path d="m11 3h-1v1h1z"/><path d="m11 2h-1v1h1z"/><path d="m10 1h-1v1h1z"/><path d="m9 0h-1v1h1z"/><path d="m3 0h1v1h-1z"/><path d="m4 0h1v1h-1z"/><path d="m5 0h1v1h-1z"/><path d="m6 0h1v1h-1z"/><path d="m7 0h1v1h-1z"/><path d="m0 8h1v1h-1z"/><path d="m1 8h1v1h-1z"/><path d="m2 8h1v1h-1z"/><path d="m3 8h1v1h-1z"/><path d="m4 8h1v1h-1z"/><path d="m5 7h1v1h-1z"/></svg>
</ng-template>
