@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

:host {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(var(--black), 1);
  padding: 1rem 1.5rem;

  height: 4.5rem;
}

.logger {

  position: fixed;
  bottom: 4.5rem;
  right: 0;
  z-index: 1000;

  .title-bar {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;

    font-family: var(--secondary-font-stack);
    font-weight: 400;
    font-size: 1rem;

    color: rgba(var(--black), 1);
    background-color: rgba(var(--base-color), 1);
  }

  app-logger {
    max-width: 60rem;
    height: 30rem;
    border: .2rem solid rgba(var(--base-color), 1);
    border-top: none;
  }

}

.chat-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  padding: 0;
  margin: 0;

  border-right: 2px solid rgba(var(--white), .1);

  svg {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    path {
      fill: rgba(var(--white), .75);
    }
  }
}

.network-gas {
  display: flex;
  flex-direction: column;

  font-family: var(--secondary-font-stack);

  .gas {
    font-size: 1.2rem;
    padding-right: 1rem;
    color: rgba(var(--white), .75);
  }
  .network {
    font-size: .8rem;
    color: rgba(var(--white), .75);
  }
}

.blocks-wrapper {
  display: flex;
  align-items: center;

  cursor: pointer;

  font-family: var(--secondary-font-stack);
  font-size: .8rem;
  font-weight: normal;
  color: rgba(var(--white), .75);

  .indexer {}

  .expand-button {
    background: none;

    svg {
      width: 1.2rem;
      path {
        fill: rgba(var(--white), .75);
      }
    }
  }

  &.active {
    // color: rgba(var(--black), 1);
    color: rgba(var(--base-color), 1);

    .expand-button {
      svg {
        transform: rotate(180deg);
        path {
          fill: rgba(var(--base-color), 1);
        }
      }
    }
  }
}

.block {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .padding {
    padding: .25rem 0;
  }

  .label {
    padding-right: .5rem;
  }

  .value {
    @include trans($duration: .2s);
    font-variant: tabular-nums;
  }

  &.behind1 {
    .value {
      color: rgba(var(--base-color), 1);
    }
  }

  &.behind2 {
    .value {
      color: rgba(var(--escrow-color), 1);
    }
  }

  &.behind3,
  &.bad {
    .value {
      color: rgba(255, 0, 72, 1);
    }
  }
}
