<div class="login-header">
  <h2>CHAT</h2>
  <button class="close-button" (click)="closeChat()">
    <ng-template [ngTemplateOutlet]="closeIcon" />
  </button>
</div>

<div class="login-content">
  <p>LOOKS LIKE YOU DON'T HAVE AN INBOX SET UP YET. CREATE ONE TO GET STARTED.</p>
  <button class="create-inbox" (click)="signIn()">CREATE INBOX</button>
</div>

<ng-template #closeIcon>
  <svg height="15" viewBox="0 0 15 15" width="15" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><path d="m6 6h3v3h-3z"/><path d="m3 3h3v3h-3z"/><path d="m3 9h3v3h-3z"/><path d="m0 0h3v3h-3z"/><path d="m0 12h3v3h-3z"/><path d="m12 3h-3v3h3z"/><path d="m12 9h-3v3h3z"/><path d="m15 0h-3v3h3z"/><path d="m15 12h-3v3h3z"/></g></svg>
</ng-template>
