@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

:host {
  font-family: var(--secondary-font-stack);
  font-weight: 400;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 4rem;
  padding: 0 1rem;

  border-bottom: .1rem solid rgba(var(--highlight), .1);

  h2 {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .close-button {
    background: none;
    padding: .5rem;
    cursor: pointer;

    svg {
      width: 1.2rem;
      height: 1.2rem;

      path {
        fill: rgba(var(--highlight), 1);
      }
    }
  }
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  padding: 3rem;
  text-align: center;

  p {
    font-family: var(--secondary-font-stack);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;

    padding: 0;
    margin: 0 0 2rem;
    color: rgba(var(--text-color), .75);
  }

  .create-inbox {
    background-color: rgba(var(--highlight), 1);
    color: rgba(var(--background), 1);

    font-family: var(--secondary-font-stack);
    font-weight: 400;
    font-size: 1.2rem;
    padding: .8rem 2rem;
    cursor: pointer;
  }
}
