@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

:host {
  font-family: var(--secondary-font-stack);
  font-weight: 400;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

app-login,
app-conversations,
app-conversation {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.message-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  padding: 2rem;

  p {
    text-align: center;
  }
}
