@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

:host {
  display: block;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

section {
  .events-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 3rem 2rem;

    h2 {
      padding: 0;
    }

    ng-select {
      width: 100%;
      max-width: 20rem;
    }

    .events-header-title {
      display: flex;
      align-items: center;

      button {
        background: none;
        color: rgba(var(--highlight), 1);
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
  }

  .events-items {
    display: flex;
    overflow-y: auto;
    grid-gap: 3rem;
    padding: 0 3rem 2rem;

    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .event-item {
    position: relative;

    min-width: 12rem;
    width: 12rem;
    max-width: 12rem;

    text-decoration: none;
    color: rgba(var(--text-color), 1);

    .index {
      position: absolute;
      top: 0;
      left: 0;

      padding: 0 .5rem;

      text-align: left;
      font-size: 3.6rem;
      line-height: 1;
      font-weight: 700;
      color: rgba(var(--white), 1);
    }

    .image-wrapper {

      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 100%;

      img {
        width: 100%;
        image-rendering: pixelated;
      }

      &.placeholder {
        background-color: rgba(var(--base-color), 1);
      }
    }

    .labels-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      padding: 1rem 0 0;

      .token-id {
        font-weight: 700;
        color: rgba(var(--highlight), 1);

        padding-bottom: .5rem;
      }

      .label {
        color: rgba(var(--text-color), .9);
        font-size: 1.4rem;
        font-weight: 500;
        max-width: 12rem;

        // app-address {
        //   width: 100%;
        // }
      }

      .date {
        font-size: 1.2rem;
        font-weight: 600;
        color: rgba(var(--text-color), .65);

        padding-top: .5rem;
      }
    }

    $event-color-groups: (
      (created sale phunkbought): var(--base-color),
      (transfer): var(--transferred-color),
      (offered phunkoffered phunkofferwithdrawn phunknolongerforsale): var(--listed-color),
      (phunkbidentered phunkbidwithdrawn): var(--bid-color),
      (bridgein bridgeout): var(--magma),
      (prizeawarded): var(--won-color)
    );

    @each $events, $color in $event-color-groups {
      $selectors: ();
      @each $event in $events {
        $selectors: append($selectors, "&.#{$event}", "comma");
      }

      #{$selectors} {
        .image-wrapper {
          background-color: rgba(#{$color}, 1);
        }

        &.background {
          .labels-wrapper {
            .token-id {
              color: rgba(#{$color}, 1);
            }
          }
        }
      }
    }

    &.view-more {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 12rem;
      height: 12rem;

      background: none;
      box-shadow: inset 0 0 0 .3rem rgba(var(--base-color), 1);
      font-family: var(--secondary-font-stack);

      font-size: 1.4rem;
      font-weight: 400;
      color: rgba(var(--highlight), 1);

      text-align: center;
    }
  }

  @media (max-width: $mobile) {

    .events-header {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      padding: 0 2rem 2rem;

      h2 {
        padding-bottom: 1rem;
      }

      ng-select {
        max-width: 100%;
        font-size: 1.4rem;
      }
    }

    .events-items {
      display: flex;
      overflow-y: scroll;

      grid-gap: 2rem;
      padding: 0 2rem 2rem;
    }

    .event-item,
    .sale-item {
      min-width: 12rem;
    }
  }
}
