<section
  class="events-wrapper">

  <div class="events-header">
    <div class="events-header-title">
      <h2>{{ t('recentActivity') }}</h2>
    </div>

    <div class="events-header-controls">
      @if (ogCollection(); as og) {
        <a class="og-collection-btn" [routerLink]="['/curated', og.slug]" [title]="og.name">
          <img [src]="og.image" [alt]="og.name" />
        </a>
      }

      <ng-select
      [items]="txFilters()"
      [clearable]="false"
      [searchable]="false"
      bindValue="value"
      bindLabel="label"
      [(ngModel)]="_activeTxFilter"
      (change)="setActiveTxFilter($event)">
    </ng-select>
    </div>
  </div>

  <div
    #scroller
    class="events-items">

    @for (
      event of events$ | async;
      track (event.hashId + '-' + event.type + '-' + event.from + '-' + event.tokenId + '-' + idx);
      let idx = $index
    ) {
      <a
        [routerLink]="['/', 'details', event.hashId]"
        class="event-item"
        [class]="event.type | lowercase"
        [class.background]="collection()?.hasBackgrounds">

        <div class="image-wrapper">
          <img
            [lazyLoad]="dataSvc.staticUrl + '/static/images/' + event.sha"
            [defaultImage]="'assets/loadingphunk.png'"
            width="120"
            height="120"
          />
        </div>

        <div class="labels-wrapper">

          <div class="token-id" [ngClass]="tokenIdClass(event)">
            #{{ event.slug === 'ethsrocks' ? '-' + ((event.tokenId ?? 0) < 0 ? -(event.tokenId ?? 0) : (event.tokenId ?? 0)) : ((event.tokenId ?? 0) < 0 ? -(event.tokenId ?? 0) : (event.tokenId ?? 0)) }}
          </div>

          <div class="label">
            @if (event.type) {
              <div>
                @if (event.type === 'PhunkBought') {
                  <span class="prismatic-bought">{{ t('bought') }}</span> {{ t('for') }}
                } @else if (event.type === 'created') {
                  <span class="prismatic-created">{{ t('created') }}</span> {{ t('by') }}
                } @else if (event.type === 'PrizeAwarded') {
                  <span class="prismatic-won">{{ t('won') }}</span> {{ t('inLotteryBy') }}
                } @else if (event.type === 'AuctionSettled' && event.to && event.to !== '0x0000000000000000000000000000000000000000') {
                  {{ t('auction') }} <span class="prismatic-won">{{ t('won') | lowercase }}</span> {{ t('by') }}
                } @else if (event.type === 'AuctionSettled') {
                  {{ t('auctionEndedNoBids') }}
                } @else if (event.type === 'AuctionBid') {
                  {{ t('auction') }} <span class="prismatic-bid">{{ t('bid') }}</span> {{ t('of') }}
                } @else if (event.type === 'BidEntered') {
                  <span class="prismatic-marketbid">{{ t('bid') }}</span> {{ t('from') }}
                } @else if (event.type === 'BidAccepted') {
                  <span class="prismatic-marketbid">{{ t('bid') }}</span> accepted from
                } @else if (event.type === 'BidConfirmed') {
                  <span class="prismatic-marketbid">{{ t('bid') }}</span> confirmed by
                } @else if (event.type === 'BidWithdrawn' || event.type === 'BidRefunded') {
                  <span class="prismatic-marketbid">{{ t('bid') }}</span> withdrawn by
                } @else {
                  {{ eventLabel(event.type) }}
                }
              </div>
            }

            @if (
              event.to &&
              event.to !== '0x0000000000000000000000000000000000000000' && (
                event.type === 'transfer' ||
                event.type === 'created' ||
                event.type === 'bridgeIn' ||
                event.type === 'PrizeAwarded' ||
                event.type === 'AuctionSettled'
              )
            ) {
              <app-address [address]="event.to" />
            } @else if (event.type === 'bridgeOut' || event.type === 'escrow') {
              <app-address [address]="event.from" />
            } @else if (event.type === 'Evolved' || event.type === 'Devolved') {
              <app-address [address]="event.from" />
            } @else if (
              event.type === 'BidEntered' ||
              event.type === 'BidAccepted' ||
              event.type === 'BidConfirmed' ||
              event.type === 'BidWithdrawn' ||
              event.type === 'BidRefunded'
            ) {
              <app-address [address]="event.from" />
            }

            @if (
              event.value !== '0' &&
              event.type !== 'transfer' &&
              event.type !== 'created' &&
              event.type !== 'bridgeIn' &&
              event.type !== 'bridgeOut' &&
              event.type !== 'escrow' &&
              event.type !== 'PrizeAwarded' &&
              event.type !== 'Evolved' &&
              event.type !== 'Devolved' &&
              event.type !== 'AuctionCreated' &&
              event.type !== 'AuctionSettled'
            ) {
              <span class="value">
                Ξ{{ event.value | weiToEth }}<br />
              </span>
            }

            <div class="date">
              {{ event.blockTimestamp | timeago : true }}
            </div>
          </div>
        </div>
      </a>
    } @empty {
      @for (i of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]; track idx; let idx = $index) {
        <span class="event-item">
          <div class="image-wrapper placeholder">
            <img
              [lazyLoad]="'assets/loadingphunk.png'"
              [defaultImage]="'assets/loadingphunk.png'"
              width="120"
              height="120"
            />
          </div>
        </span>
      }
    }

    @if (hasMore$ | async) {
      <button
        class="event-item view-more"
        (click)="paginateEvents()">

        {{ t('viewMore') }}
      </button>
    }
  </div>
</section>
