:host {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  gap: .2rem;
}

div {
  position: relative;
  flex-shrink: 0;

  span {
    &.label {
      position: absolute;
      bottom: -1.5rem;
      left: .25rem;
      white-space: nowrap;
      color: rgba(var(--text-color), .75);
      font-size: 1rem;
    }

    &.value {
      display: block;
      white-space: nowrap;
    }
  }
}