<div class="inner">
  <div class="header-wrapper">
    <a class="button" routerLink="/vault">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>
      Phunk Swap
    </a>
    <h1>All QuantumPhunks</h1>
    <h3>Showing <span class="highlight">{{ items().length | number }}</span> of {{ items().length | number }}</h3>
  </div>

  <div class="content-layout">
    <div class="grid-area-wrapper">
      <div class="toolbar-wrapper">
        <div class="toolbar">
          <div class="left"></div>
          <div class="right">
            <button
              class="filters-button"
              [class.active]="filtersVisible"
              (click)="filtersVisible = !filtersVisible">
              Filter by Attribute
            </button>
          </div>
        </div>
      </div>

      @if (filtersVisible) {
        <div class="filter-wrapper">
          <app-market-filters slug="cryptophunksv67" />
        </div>
      }

      <app-phunk-grid
        [phunkData]="$any(items())"
        [viewType]="'market'"
        [activeSort]="'id'"
        [limit]="items().length"
        [marketType]="'all'"
      />
    </div>
  </div>
</div>
