@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

:host {
  display: block;
  padding-top: calc(var(--header-height) + 4rem);
}

.header-wrapper {
  margin-bottom: 4rem;

  > a {
    background: none;
    padding: 0;

    font-family: var(--secondary-font-stack);
    font-size: 1.4rem;
    font-weight: normal;
    text-decoration: none;
    color: rgba(var(--highlight), 1);

    svg {
      width: 1rem;
      height: 1rem;
      margin-right: .5rem;

      path {
        fill: rgba(var(--highlight), 1);
      }
    }
  }

  h1 {
    font-size: 4.8rem;
    font-weight: 700;
    padding: 1rem 0;
  }

  h2, h3 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}

.content-layout {
  display: flex;
  flex-direction: column;
}

.grid-area-wrapper {
  width: 100%;
}

.toolbar-wrapper {
  margin-bottom: 2rem;

  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button {
    height: 3.6rem;
    border: .3rem solid rgba(var(--pink), 1);

    &.filters-button {
      font-family: var(--secondary-font-stack);
      font-size: 1.2rem;
      background: rgba(var(--pink), 1);
      color: rgba(var(--highlight), 1);
      cursor: pointer;
      padding: 0 1.5rem;

      &.active {
        background: rgba(var(--highlight), 1);
        color: rgba(var(--pink), 1);
      }
    }
  }
}

.filter-wrapper {
  margin-bottom: 2rem;
}

@media (max-width: $mobile) {
  .header-wrapper {
    h1 {
      font-size: 3rem;
    }
  }
}
