<div class="comments-header">
  <h2>{{ t('comments') }}</h2>
</div>

@if ((connectedAddress$ | async)) {
  <div class="main-comment-form-wrapper">
    <ng-container
      *ngTemplateOutlet="commentForm; context: {
        topic: hashId(),
        placeholder: t('leaveComment'),
        help: true
      }"
    />
  </div>
}

<div class="comments-wrapper">
  <ng-container *ngTemplateOutlet="commentsList; context: { $implicit: comments$ | async }" />
</div>

<ng-template #commentsList let-comments>
  @for (comment of comments; track comment.id; let i = $index) {

    <div class="comment-wrapper">
      <div
        class="comment"
        [class.has-more]="comment.replies?.length">

        <div class="comment-header">
          <span class="author">
            <app-avatar [address]="comment.from" />
            <app-address [address]="comment.from" />
          </span>

          <span class="date">{{ comment.createdAt | date }}</span>
        </div>

        <div class="comment-content">
          <p [class.deleted]="comment.deleted">
            {{ comment.deleted ? '[deleted]' : comment.content }}
          </p>
        </div>

        @if (!comment.deleted) {
          <div class="comment-footer">
            @if (comment.replies) {
              <button class="expand-button" (click)="expandComment(comment.id)">
                {{ comment.replies.length }} {{ (comment.replies.length > 1 ? t('replies') : t('reply')) }} {{ expanded()[comment.id] ? '[-]' : '[+]' }}
              </button>
            }

            <button
              class="reply-button"
              [class.active]="replyActive() === comment.id"
              (click)="setReplyActive(comment.id)">

              [{{ t('reply') }}]
            </button>

            @if ((connectedAddress$ | async) === comment.from) {
              <button
                class="delete-button"
                (click)="deleteComment(comment.id)">

                [{{ t('delete') }}]
              </button>
            }
          </div>
        }
      </div>

      @if (comment.replies && expanded()[comment.id]) {
        <div class="replies">
          <ng-container *ngTemplateOutlet="commentsList; context: { $implicit: comment.replies }" />
        </div>
      }

      <div class="reply-form-wrapper">
        @if (replyActive() === comment.id) {
          <ng-container
            *ngTemplateOutlet="commentForm; context: {
              topic: comment.id,
              placeholder: t('reply')
            }"
          />
        }
      </div>
    </div>
  } @empty {
    <div class="empty">
      <p>{{ t('noComments') }}</p>
    </div>
  }
</ng-template>

<ng-template
  #commentForm
  let-help="help"
  let-topic="topic"
  let-placeholder="placeholder">

  <div class="comment-form-wrapper">
    <textarea
      class="comments-textarea"
      rows="3"
      [ngModel]="commentValue()[topic]"
      (ngModelChange)="handleCommentChanged($event, topic)"
      [placeholder]="placeholder">
    </textarea>

    <div class="actions-wrapper">
      <button
        class="comment-button"
        [class.disabled]="!commentValue()[topic]"
        (click)="addComment(commentValue()[topic], topic)">

        {{ t('addComment') }}
      </button>

      @if (help) {
        <button
          tippy
          data-tippy-placement="top"
          data-tippy-content="TIC (Transaction Inscribed Comments) enables on-chain commenting capabilities through Ethereum transaction calldata. It provides a standardized way to associate comments with blockchain entities such as addresses, transaction hashes, or other on-chain identifiers. <a href='https://github.com/chopperdaddy/ethereumphunks.com/blob/sepolia/tic-protocol.md' target='_blank'>Learn more</a>."
          class="help-button">

          ?
        </button>
      }
    </div>
  </div>
</ng-template>
