@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

:host {
  display: block;
  padding-top: calc(var(--header-height) + 4rem);
}

.header-wrapper {
  margin-bottom: 4rem;

  .back-link {
    background: none;
    padding: 0;
    font-family: var(--secondary-font-stack);
    font-size: 1.4rem;
    font-weight: normal;
    text-decoration: none;
    color: rgba(var(--highlight), 1);

    svg {
      width: 1rem;
      height: 1rem;
      margin-right: .5rem;

      path {
        fill: rgba(var(--highlight), 1);
      }
    }
  }

  h1 {
    font-size: 4.8rem;
    font-weight: 700;
    padding: 1rem 0;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 2rem;
  }

  .highlight {
    color: rgba(var(--highlight), 1);
  }

  @media (max-width: $mobile) {
    h1 {
      font-size: 3rem;
    }
  }
}

.wins-grid {
  width: 100%;
  display: grid;
  align-content: start;
  grid-template-columns: repeat(16, calc(100% / 16));

  .item {
    position: relative;
    width: 100%;

    .image-wrapper {
      img {
        background-color: rgba(var(--base-color), 1);
        display: block;
        width: 100%;
        height: auto;
        image-rendering: pixelated;
      }
    }

    .labels-wrapper {
      padding: 1rem 0 2rem;

      .label {
        font-size: 1.4rem;
        color: rgba(var(--dark-text), 1);
        text-align: center;
        font-weight: 700;
      }

      p {
        padding: 0;
        margin: 0;
        font-size: 1.4rem;
        color: rgba(var(--text-color), 1);
        text-align: center;
      }
    }
  }

  .item-link {
    text-decoration: none;
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(12, calc(100% / 12));
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(10, calc(100% / 10));
  }

  @media (max-width: $mobile) {
    grid-template-columns: repeat(4, calc(100% / 4));
  }
}
