<div class="inner">
  <div class="header-wrapper">
    <a class="back-link" routerLink="/lottery">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>
      Philip Lottery
    </a>
    <h1>All Won Artifacts</h1>
    <h3>Showing <span class="highlight">{{ wins().length }}</span> wins</h3>
  </div>

  @if (!loaded()) {
    <div class="wins-grid">
      @for (i of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]; track idx; let idx = $index) {
        <div class="item">
          <div class="item-link">
            <div class="image-wrapper">
              <img src="assets/loadingphunk.png" width="50" height="50" />
            </div>
            <div class="labels-wrapper">
              <div class="label">#0000</div>
            </div>
          </div>
        </div>
      }
    </div>
  } @else if (wins().length === 0) {
    <p class="empty-message">No wins yet.</p>
  } @else {
    <div class="wins-grid">
      @for (win of wins(); track win.play_id) {
        <div class="item">
          <a class="item-link" [routerLink]="['/details', win.hash_id]">
            <div class="image-wrapper">
              <img [src]="getWinImageUrl(win)" width="50" height="50" />
            </div>
            <div class="labels-wrapper">
              <div class="label">#{{ win.token_id }}</div>
            </div>
          </a>
        </div>
      }
    </div>
  }
</div>
