@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

:host {
  font-family: var(--secondary-font-stack);
  font-weight: 400;
}

.chat-header {
  display: flex;
  align-items: center;

  height: 4rem;
  padding: 0 1rem 0 0;
  border-bottom: .1rem solid rgba(var(--highlight), .1);

  button {
    &.back {
      background: none;
      padding: 1rem;

      svg {
        width: 1.4rem;
        height: 1.4rem;
        transform: rotate(180deg);

        path {
          fill: rgba(var(--base-color), 1);
        }
      }
    }
  }

  .with {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    margin-left: 1rem;

    font-size: .8rem;
    font-weight: 400;

    app-address {
      font-size: 1.4rem;
      color: rgba(var(--base-color), 1);
    }
  }

  .close-button {
    background: none;
    padding: .5rem;
    margin-left: auto;
    cursor: pointer;

    svg {
      width: 1.2rem;
      height: 1.2rem;

      path {
        fill: rgba(var(--highlight), 1);
      }
    }
  }
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .messages-wrapper {
    position: relative;

    overflow: auto;
    overflow-x: hidden;

    flex: 1;
    min-height: 0;

    .chat-message {
      display: flex;
      justify-content: flex-start;

      font-weight: 400;
      margin-bottom: .5rem;

      .message-inner {
        padding: .5rem 1rem;
        background-color: rgba(var(--text-color), .25);

        .timestamp {
          font-size: .8rem;
          padding: 0 0 .5rem 0;
        }

        .content {
          font-family: var(--primary-font-stack);
          font-size: 1.4rem;
          font-weight: 600;
        }
      }

      &.self {
        justify-content: flex-end;

        .message-inner {
          text-align: right;
          padding: .5rem 1rem;

          background-color: rgba(var(--base-color), 1);
          color: rgba(var(--black), 1);
        }
      }
    }

    .error {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: auto;

      padding: 1rem;
      background-color: rgba(var(--pink), 1);

      p {
        font-size: 1.2rem;
        color: rgba(var(--white), 1);
        font-weight: 400;

        margin: 0;
      }
    }

    .loader {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 100%;

      .spinner {
        padding-left: 1rem;
      }
    }
  }

  form {
    display: flex;
    align-items: stretch;

    height: 4rem;

    input {
      border-radius: none;

      &::placeholder {
        font-family: var(--secondary-font-stack);
        font-size: 1.2rem;
        font-weight: 400;
      }
    }

    button {
      font-family: var(--secondary-font-stack);
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}
