<section
  class="events-wrapper">

  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Token ID</th>
        <th>From</th>
        <th>To</th>
        <th>Value</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>

      @for (event of (events$ | async);
        track (event.hashId + '-' + event.type + '-' + event.from + '-' + event.tokenId)
      ) {
        <tr>
          <td>
            <div class="cell-inner">
              @if (event.type === 'PhunkBought') {
                <span class="prismatic-bought">Bought</span> for
              } @else if (event.type === 'created') {
                <span class="prismatic-created">Created</span> by
              } @else if (event.type === 'PrizeAwarded') {
                <span class="prismatic-won">Won</span> in lottery by
              } @else if (event.type === 'AuctionSettled') {
                Auction <span class="prismatic-won">won</span> by
              } @else {
                {{ labels[event.type] }}
              }
            </div>
          </td>
          <td>
            <div class="cell-inner">
              #{{ event.slug === 'ethsrocks' ? '-' + (event.tokenId < 0 ? -event.tokenId : event.tokenId) : (event.tokenId < 0 ? -event.tokenId : event.tokenId) }}
            </div>
          </td>
          <td>
            <div class="cell-inner">
              <app-address [address]="event.from" />
            </div>
          </td>
          <td>
            <div class="cell-inner">
              <app-address [address]="event.to" />
            </div>
          </td>
          <td>
            <div class="cell-inner">
              Ξ{{ event.value | weiToEth }}
            </div>
          </td>
          <td>
            <div class="cell-inner">
              {{ event.blockTimestamp | timeago : true }}
            </div>
          </td>
        </tr>
      }

    </tbody>

    <!-- <a
        [routerLink]="['/', 'details', event.hashId]"
        class="event-item"
        [class]="event.type | lowercase">

        <div class="image-wrapper">
          <img
            [lazyLoad]="dataSvc.staticUrl + '/static/images/' + event.sha"
            [defaultImage]="'assets/loadingphunk.png'"
            width="160"
            height="160"
          />
        </div>

        <div class="labels-wrapper">

          <div class="token-id">#{{ event.slug === 'ethsrocks' ? '-' + (event.tokenId < 0 ? -event.tokenId : event.tokenId) : (event.tokenId < 0 ? -event.tokenId : event.tokenId) }}</div>

          <div class="label">
            @if (event.type) {
              <div>{{ labels[event.type] }}</div>
            }

            @if (
              event.to && (
                event.type === 'transfer' ||
                event.type === 'created' ||
                event.type === 'bridgeIn'
              )
            ) {
              <app-address [address]="event.to" />
            } @else if (event.type === 'bridgeOut') {
              <app-address [address]="event.from" />
            }

            @if (
              event.value !== '0' &&
              event.type !== 'transfer' &&
              event.type !== 'created' &&
              event.type !== 'bridgeIn' &&
              event.type !== 'bridgeOut'
            ) {
              <span class="value">
                Ξ{{ event.value | weiToEth }}<br />
              </span>
            }

            <div class="date">
              {{ event.blockTimestamp | timeago : true }}
            </div>
          </div>
        </div>
      </a> -->

  </table>
</section>
