<div class="leaderboard-header">
  <div class="logo-wrapper">
    <img
      src="assets/cryptophunkv67-9986.png"
      alt="QuantumPhunk 9986" />
  </div>
  <div>
    <h3>Fart Leaderboard</h3>
    <p>Farts represent your buying activity within the ecosystem. Earn farts by purchasing items across the marketplace, auction, and lottery.</p>
  </div>
</div>

<div class="grid-header">
  <span></span>
  <span>Wallet</span>
  <span>Buys</span>
  <span>Farts</span>
</div>

@for (item of (leaderboard$ | async); track $index) {
  <div
    class="leaderboard-item"
    [class]="'i' + $index">

    <span class="rank" [class.highlight]="$index < 3" [class.top]="$index === 0">{{ $index + 1 }}</span>

    <a
      [routerLink]="['/', 'curated', (activeCollection$ | async)?.slug, 'market', 'owned']"
      [queryParams]="{ address: item.address }">

      <app-address [address]="item.address" />
    </a>
    <span class="sales">{{ item.sales }}</span>
    <span class="points">{{ item.points }}</span>
  </div>
} @empty {
  <div class="no-results">
    <p>No results found.</p>
  </div>
}

