<div class="leaderboard-header">
  <div class="logo-wrapper">
    <img
      src="assets/cryptophunkv67-9986.png"
      [alt]="t('leaderboardImageAlt')" />
  </div>
  <div>
    <h3>{{ t('fartLeaderboard') }}</h3>
    <p>{{ t('fartLeaderboardDescription') }}</p>
  </div>
</div>

<div class="grid-header">
  <span></span>
  <span>{{ t('wallet') }}</span>
  <span>{{ t('buys') }}</span>
  <span>{{ t('farts') }}</span>
</div>

@for (item of (leaderboard$ | async); track $index) {
  <div
    class="leaderboard-item"
    [class]="'i' + $index">

    <span class="rank" [class.highlight]="$index < 3" [class.top]="$index === 0">{{ $index + 1 }}</span>

    <a
      [routerLink]="['/', 'curated', (activeCollection$ | async)?.slug, 'market', 'owned']"
      [queryParams]="{ address: item.address }">

      <app-address [address]="item.address" />
    </a>
    <span class="sales">{{ item.sales }}</span>
    <span class="points">{{ item.points }}</span>
  </div>
} @empty {
  <div class="no-results">
    <p>{{ t('noResultsFound') }}</p>
  </div>
}

