@if ((tokenSales$ | async); as tokenSales) {
  <div class="transaction-history">

    <h2>{{ t('transactionHistory') }}</h2>

    <div class="transaction-wrapper">
      <table [cellPadding]="0" [cellSpacing]="0">
        <thead>
          <tr>
            <th>{{ t('type') }}</th>
            <th>{{ t('from') }}</th>
            <th>{{ t('to') }}</th>
            <th>{{ t('amount') }}</th>
            <th>{{ t('txn') }}</th>
          </tr>
        </thead>
        <tbody>
          @for (event of tokenSales; track event.txId) {
            <tr [class]="(event.type | lowercase) || 'transfer'">

              <td>
                <div class="cell-inner type-label">
                  @if (event.type) {
                    @if (event.type === 'PhunkBought') {
                      <span class="prismatic-bought">{{ t('bought') }}</span>
                    } @else if (event.type === 'created') {
                      <span class="prismatic-created">{{ t('created') }}</span>
                    } @else if (event.type === 'PrizeAwarded') {
                      <span class="prismatic-won">{{ t('won') }}</span>
                    } @else if (event.type === 'AuctionSettled') {
                      {{ t('auction') }} <span class="prismatic-won">{{ t('won') }}</span>
                    } @else if (event.type === 'AuctionBid') {
                      {{ t('auction') }} <span class="prismatic-bid">{{ t('bid') }}</span>
                    } @else if (event.type === 'BidEntered') {
                      <span class="prismatic-marketbid">Bid Entered</span>
                    } @else if (event.type === 'BidAccepted') {
                      <span class="prismatic-marketbid">Bid Accepted</span>
                    } @else if (event.type === 'BidConfirmed') {
                      <span class="prismatic-marketbid">Bid Confirmed</span>
                    } @else if (event.type === 'BidWithdrawn') {
                      <span class="prismatic-marketbid">Bid Withdrawn</span>
                    } @else if (event.type === 'BidRefunded') {
                      <span class="prismatic-marketbid">Bid Refunded</span>
                    } @else {
                      {{ eventLabel(event.type) }}
                    }
                  }
                </div>
              </td>

              <td>
                <div class="cell-inner">
                  @if (event.from !== ZERO_ADDRESS) {
                    <a [routerLink]="['/', 'curated', event.slug, 'market', 'owned']" [queryParams]="{ address: event.from }">
                      <app-address [address]="event.from" />
                    </a>
                  } @else {
                    <ng-template [ngTemplateOutlet]="placeholderCell" />
                  }
                </div>
              </td>

              <td>
                <div class="cell-inner">
                  @if (event.to !== ZERO_ADDRESS) {
                    <a [routerLink]="['/', 'curated', event.slug, 'market', 'owned']" [queryParams]="{ address: event.to }">
                      <app-address [address]="event.to" />
                    </a>
                  } @else {
                    <ng-template [ngTemplateOutlet]="placeholderCell" />
                  }
                </div>
              </td>

              <td>
                <div class="cell-inner value">
                  @if (event.value; as value) {
                    @if ((value | weiToEth); as price) {
                      {{ price | number : '1.0-5' }}Ξ
                    } @else {
                      <ng-template [ngTemplateOutlet]="placeholderCell" />
                    }
                  } @else {
                    <ng-template [ngTemplateOutlet]="placeholderCell" />
                  }
                </div>
              </td>

              <td>
                <div class="cell-inner">
                  <a
                    [href]="explorerUrl + '/tx/' + (event.txHash)"
                    target="_blank"
                    class="tx-link"
                    [title]="event.blockTimestamp | date">

                    {{ event.blockTimestamp | timeago }}
                  </a>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}

<ng-template #placeholderCell>
  <div class="placeholder">---</div>
</ng-template>
