@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: var(--billboard-height);

  background-color: rgba(var(--base-color), 1);
}

.images-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .image-wrapper {
    width: var(--inscription-size);
    min-width: var(--inscription-size);
    height: var(--inscription-size);

    opacity: 1;
    filter: blur(0px);
    @include trans($duration: .2s);

    img {
      display: block;
      width: var(--inscription-size);
      height: var(--inscription-size);
      image-rendering: pixelated;
    }

    &.photo img {
      image-rendering: auto;
      object-fit: contain;
    }
  }

  &.mint-mode {
    .image-wrapper {
      opacity: 1;
      filter: blur(0px);
    }
  }

  &.is-minting {
    .image-wrapper {
      opacity: .5;
      filter: blur(5px);

      &.mint {
        opacity: 1;
        filter: blur(0px);
      }
    }
  }
}
