@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

:host {
  display: block;
}

app-phunk-billboard {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;

  button {
    position: absolute;
    z-index: 1;
    bottom: 3rem;
    right: 3rem;

    background: none;
    padding: 0;
    color: rgba(var(--background), 1);

    opacity: .5;

    &:hover {
      opacity: 1;
    }

    @media (max-width: $mobile) {
      // display: none;
    }
  }

  &.expanded {
    button {
      bottom: calc(4.5rem + 3rem);
    }
  }

  @media (max-width: $mobile) {
    button {
      bottom: 1rem;
      right: 1rem;
    }

    &.expanded {
      button {
        bottom: 1rem;
      }
    }
  }
}

.view-item-wrapper {
  margin-top: var(--billboard-height);
  position: relative;
  z-index: 1;
  background-color: rgba(var(--background), 1);

  .inner {
    position: relative;
    max-width: 120rem;
  }

  &.expanded {
    margin-top: 100vh;

    @media (max-width: $mobile) {
      margin-top: var(--billboard-height-expanded);
    }
  }
}

.notice {
  padding: 1rem;
  background-color: rgba(var(--bid-color), 1);
  color: rgba(var(--white), 1);
  max-width: 46rem;
  box-shadow: .3rem .3rem 0 0 rgba(var(--highlight), 1);

  margin-bottom: 2rem;

  .consensus {
    padding: 0;

    font-size: 1.4rem;
    font-weight: 600;

    a {
      color: rgba(var(--highlight), 1);
      font-weight: 700;
    }
  }
}

.details-wrapper {
  padding-top: 4rem;

  .title-wrapper {
    h1 {
      font-size: 4.8rem;
      padding: 0;
      margin: 0;
      transform: translate(-.3rem, 0);
    }

    .hash-id {
      font-size: 1.2rem;
      font-weight: 600;
      padding: .5rem 0 1.5rem;

      a {
        color: rgba(var(--text-color), 1);
        text-decoration: none;
      }
    }

    h2 {
      font-size: 1.8rem;
    }
  }

  h2 {
    font-size: 2.4rem;
    padding-bottom: 2rem;
  }

  p {
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;

    a {
      font-size: 1.8rem;
      font-weight: 700;
      color: rgba(var(--highlight), 1);
      text-decoration: none;
    }

    .bold {
      font-weight: 700;
    }
  }

  .split {
    display: grid;
    grid-template-columns: auto 35rem;
    column-gap: 4rem;

    margin-bottom: 4rem;

    .left {
      &.disabled {
        opacity: .5;
        pointer-events: none;
        user-select: none;
      }
    }

    .right {
      padding: 4rem 0 0;
    }
  }

  .accessories-wrapper {
    width: 100%;
    max-width: 35rem;

    h2 {
      font-size: 2.4rem;
      padding-bottom: 2rem;
    }

    .accessories {
      display: grid;
      grid-template-columns: 100%;
      row-gap: 2rem;

      .accessory {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;

        .value {
          font-weight: 700;
          color: rgba(var(--highlight), 1);
          text-decoration: none;

          .percent {
            font-size: 1.4rem;
            opacity: .5;
          }
        }

        .trait-count {
          padding-top: 1rem;
          span {
            font-weight: 700;
          }
        }
      }
    }
  }

  .market-status {
    padding-top: 4rem;
  }

  .actions-wrapper {
    position: relative;
    padding: 2rem 0;

    .form-group {
      &.private-sale {
        padding: 2rem;
        margin-bottom: 1rem;

        background-color: rgba(var(--background), 1);
        color: rgba(var(--highlight), 1);

        label {
          color: rgba(var(--highlight), 1);
        }

        input {
          color: rgba(var(--highlight), 1);
          background-color: rgba(var(--dark-grey), 1);

          &::placeholder {
            color: rgba(var(--highlight), .5);
          }
        }
      }
    }

    button,
    .button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      padding: 1rem;
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 1.5rem;
      width: 100%;
      max-width: 46rem;

      &.external {
        background: none;
        color: rgba(var(--background), 1);
        background-color: rgba(var(--highlight), 1);

        background-image: url('data:image/svg+xml;utf8,<svg height="15" viewBox="0 0 15 15" width="15" xmlns="http://www.w3.org/2000/svg"><path d="m0 15v-15h6v3h-3v6h3v3h6v-3h3v6zm9-9v3h-3v-3zm6-6v6h-3v-3h-3v-3z" fill="black" fill-rule="evenodd"/></svg>');
        background-size: 1.2rem;
        background-position: right 1rem center;
        background-repeat: no-repeat;
      }

      &.private-sale {
        background: none;
        border: .2rem solid rgba(var(--background), 1);
        color: rgba(var(--background), 1);

        font-size: 1.4rem;
        font-weight: 700;

        padding: .5rem 1rem;
        margin: 0;

        width: auto;
      }

      &.active {
        background: none;
        color: rgba(var(--highlight), 1);
        box-shadow: 0 .2rem 0 0 rgba(var(--highlight), 1);

        &.private-sale {
          background: rgba(var(--background), 1);
          border: .2rem solid rgba(var(--background), 1);
          color: rgba(var(--highlight), 1);
        }
      }
    }

    .notice {
      font-weight: 600;
      a {
        font-weight: 700;
        color: rgba(var(--highlight), 1);
      }
    }

    &.cooldown,
    &.pending {
      pointer-events: none;
      opacity: .2;
    }

    &.cooldown {}

    &.disabled {
      pointer-events: none;
      user-select: none;
    }
  }

  .cooldown-wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(var(--highlight), .25);
    backdrop-filter: blur(.5rem);

    p {
      font-family: var(--secondary-font-stack);
      font-weight: normal;
      font-size: 1.2rem;
      text-align: right;
      max-width: 12rem;

      padding: 0 2rem 0 0;
      margin: 0;
    }
  }

  .error-message {
    p {
      word-break: break-all;
    }
  }

  @media (max-width: $mobile) {
    padding: 0;

    .title-wrapper {
      h1 {
        font-size: 2.8rem;
      }
    }

    .split {
      display: block;

      .left,
      .right {
        padding: 0;
      }
    }

    .accessories-wrapper {
      padding-top: 4rem;
      max-width: 100%;

      h2 {
        font-size: 2.4rem;
        padding-bottom: 2rem;
      }

      .accessories {
        grid-template-columns: 100%;

        .accessory {
          font-size: 1.6rem;
          .trait-count {
            padding-top: .5rem;
          }
        }
      }
    }

    .market-status {
      padding-top: 2rem;
    }
  }
}

.form-wrapper {
  position: relative;
  width: 100%;
  max-width: 46rem;
  padding: 1rem;
  margin: 0 0 1rem;

  background-color: rgba(var(--highlight), 1);
  color: rgba(var(--background), 1);

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info-ind {
      font-family: var(--secondary-font-stack);
      font-weight: 400;
      color: rgba(var(--highlight), 1);

      padding: 0 .5rem;
      background-color: rgba(var(--bid-color), 1);
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 600;

    a {
      font-size: 1.4rem;
      color: rgba(var(--background), 1);
    }

    .small {
      font-weight: 400;
    }
  }

  input {
    color: rgba(var(--background), 1);
    background-color: rgba(var(--background), .1);

    &::placeholder {
      color: rgba(var(--background), .3);
    }
  }

  .row {
    display: grid;
    width: 100%;
    padding-bottom: 1rem;

    // &-2 {
    //   grid-template-columns: 100%;
    //   column-gap: 2rem;
    // }

    > div {
      display: flex;
      flex-direction: column;

      &.list-price {
        position: relative;
      }

      // &.rev-share {
      //   max-width: 16rem;
      // }
    }
  }

  // .percent-input {
  //   position: relative;

  //   display: flex;
  //   align-items: center;

  //   span {
  //     position: absolute;
  //     top: 50%;
  //     right: 1rem;

  //     font-family: var(--primary-font-stack);
  //     font-size: 1.4rem;
  //     font-weight: 700;

  //     transform: translateY(-50%);
  //   }
  // }

  // .sale-total,
  // .rev-total {
  //   // position: absolute;
  //   // top: calc(100% - .5rem);
  //   // right: 0;

  //   font-size: 1.3rem;
  //   font-weight: 600;
  //   // text-align: right;

  //   padding: .5rem 1rem;
  //   background-color: rgba(var(--transferred-color), 1);

  //   // opacity: .5;

  //   &.active {
  //     opacity: 1;
  //   }
  // }
}

app-comments {
  margin-top: 3rem;
}

app-tx-history {
  margin-top: 6rem;
}
