// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// Montserrat is loaded via <link> in index.html for reliable production loading

@font-face {
  font-family: 'Retro Computer';
  src: url('/assets/fonts/retro-computer.woff2') format('woff2'),
       url('/assets/fonts/retro-computer.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
